//Config geral
$cor-principal: #66BB6A;
$cor-branca: #FFFFFF;
$cor-preto: #0000;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
}

button{
    background-color: $cor-principal;
    color: $cor-branca;
}

// Header
.header{
    background-color: $cor-principal;
    color: $cor-branca;
    width: 100% ;
    height: 10vh ;
    align-items: center;
}
h1{
    display: inline-block;
    padding-left: 160px;
    margin-top: 30px;

}
.nav{
    display: inline-block;
    min-width: 50%;
    text-align: right;
}

ul{
    list-style: none;
    
}
li{
    display: inline-block;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: $cor-branca;
}

// Home

.Home{
    background-image:url("./Assets/Floresta.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    color: $cor-branca;
    display: inline-block;
    align-items: center;
    text-align: center;
    padding-top: 300px;
}
    .TitleHome{
      color: #FFFFFF;
      font-family: "Sansita Swashed", system-ui;
    }
    .ParagrafoHome{
        margin-top: 25px;
        margin-bottom: 25px ;
        width: 25%;
        margin-left: 800px;
    }

    .buttonHome{
        width: 405.01px;
        height: 90.08px;
        border-radius: 68px;
        cursor: pointer;
        transition: 0.4s;
    }
    .buttonHome:hover{
        background-color: #366439;
        color: black;
    }

    // Projetos
    .atividades{
        align-items: center;
        text-align: center;
        padding-top: 60px;
        background-color: #F1F8E9;
        
        .cards{
            display: inline-block;
            vertical-align: top;
            align-items: center;
            margin-top: 40px;
            margin-right: 40px;
            width: 20vw;
            height:50vh;
           box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
            padding-bottom: 6px;
            border-radius: 15px;
            transition: 0.5s;

        }
        .cards:hover{
            transform: scale(1.1);
        }
        .imagemCards{
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            
        }
        .titleCard{
            margin-top: 15px;
        }
        .textCard{
            display: block;
            align-items: center;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        .cardButton{
            display: inline-block;
            padding: 10px 30px;
            width: 9.31vw;
            height: 5vh;
            border-radius: 29px;
            cursor: pointer;
            border: none;
        }
     }

    //
    .cadastre{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 150px;
        background-color: #F1F8E9;
    
    .cadastreTitle{
        color: #2A2A2A;
    }

    .cadastreText{
       color: #767676;
       margin-top: 10px;
    }
    
    .form{
        margin-top: 50px;
        display: inline-block;
        text-align: left;

        .input{
            width: 33vw;
            height: 5vh;
            padding: 10px 15px;
            display: block;
           border-radius: 25px;
           text-align: left;
           margin-top: 5px;
           border: none;
        }
        
    }
    .cadastreButton{
            width: 33vw;
            height: 5vh;
            align-items: center;
            text-align: center;
            display: inline-block;
            margin-top: 20px;
            border-radius: 25px;
            border: none;
            cursor: pointer;

        }
    }

    //footer
    .footer{
        background-color: $cor-principal;
        color: $cor-branca;
        width: 100%;
        text-align: center;
        padding: 30px;
    }